@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-orange-400: hsl(26, 100%, 55%);
  --primary-orange-200: hsl(25, 100%, 94%);

  --neutral-blue-800: hsl(220, 13%, 13%);
  --neutral-gray-400: hsl(219, 9%, 40%);
  --neutral-gray-300: hsl(220, 14%, 75%);
  --neutral-gray-100: hsl(223, 64%, 98%);
  --neutral-white-100: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  width: clamp(300px, 100%, 5100px);
  margin: 0 auto;
}

.content {
  overflow-x: hidden;
  margin: 0 auto;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-                 H E A D E R                 -= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  align-items: center;
  width: clamp(300px, 100%, 1200px);
  margin: 0 auto;
}

.avatar {
  cursor: pointer;
  width: 25px;
  margin-left: 20px;
}

.logo {
  margin-bottom: 3px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
}

.nav__left,
.nav__right {
  display: flex;
  align-items: center;
}

.nav__links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transform: translateX(-100%);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  visibility: 0;
  width: 50%;
  height: 100vh;
  padding: 5rem 1.5rem;
  background-color: white;
  z-index: 9999;
  transition: transform 0.5s ease, visibility 0.5s ease;
}

.nav__links.menu-open {
  transform: translateX(0);
  display: flex;
  visibility: 1;
  transition: transform 0.5s ease, visibility 0.5s ease;
}

.nav__overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__links a {
  text-decoration: none;
  font-weight: bold;
  color: var(--neutral-blue-800);
}

.hamb {
  cursor: pointer;
  margin-right: 20px;
  z-index: 99999;
}

.hamb-close {
  display: none;
  cursor: pointer;
  margin-right: 20px;
  z-index: 99999;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

/* CART */

.cart__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
}

.cart__content {
  position: absolute;
  display: none;
  top: 60px;
  left: -208px;
  width: 310px;
  z-index: 30;
  background-color: white;
  box-shadow: 0px 1px 10px 0px #000000;
  border-radius: 10px;
}

.cart__heading {
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--neutral-gray-300);
}

.cart__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--neutral-gray-400);
  padding: 1rem;
}

.indicator {
  position: absolute;
  top: -1px;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  aspect-ratio: 1 / 1;
  width: fit-content;
  padding-inline: 3px;
  line-height: 1.1;
  border-radius: 50%;
  color: white;
  background-color: var(--primary-orange-400);
}

.cart-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* CART INSIDE */

.cart__product--on {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  margin-inline: 15px;
}

.product__title {
  font-size: 14px;
}

.total {
  margin-left: 15px;
  color: black;
}

.product__img {
  width: 40px;
  border: none;
  border-radius: 5px;
}

.delete-btn {
  cursor: pointer;
  border: none;
  margin-left: 5px;
}

.checkout-btn {
  cursor: pointer;
  display: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--primary-orange-400);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-                   H E R O                   -= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.hero {
  width: 100%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 100%, 1200px);
  margin: 0 auto;
}

.gallery__thumbs {
  display: none;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem 3rem;
  width: clamp(300px, 100%, 600px);
  margin: 0 auto;
}

.company {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 14px;
  color: var(--primary-orange-400);
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  margin: 15px 0;
}

.description {
  color: var(--neutral-gray-400);
  margin-bottom: 30px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__now {
  font-size: 25px;
  margin-right: 20px;
}

.discount {
  color: var(--primary-orange-400);
  font-weight: bold;
}

.price__old {
  text-decoration: line-through;
  color: var(--neutral-gray-400);
}

.hero__buttons {
  display: flex;
  flex-direction: column;
}

.amount-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0 1rem;
  background-color: var(--neutral-gray-100);
}

.amount {
  font-weight: bold;
}

.minus {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.minus:hover {
  filter: brightness(2);
}

.plus {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.plus:hover {
  filter: brightness(2);
}

.add-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: white;
  font-weight: bold;
  background-color: var(--primary-orange-400);
}

.add-btn img {
  filter: brightness(0) invert(1);
  margin-right: 15px;
}

.add-btn:active {
  transform: scale(0.95);
}

.add-btn:hover {
  background-color: hsl(26, 100%, 65%);
}

.lightbox-content {
  display: none;
}

.lightbox .prev,
.lightbox .next {
  display: none;
}

.lightbox .close {
  display: none;
}

/* MOBILE */
.prev-mob,
.next-mob {
  cursor: pointer;
  position: absolute;
  top: 35%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease;
  border-radius: 50px;
}

.prev-mob {
  left: 10px;
}

.next-mob {
  right: 10px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* =-                D E S K T O P                -= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (width >= 830px) {
  /* HEADER */

  .header {
    width: 100%;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    width: clamp(300px, 100%, 1200px);
    margin: 0 auto;
  }

  .avatar {
    cursor: pointer;
    width: 40px;
    margin-left: 30px;
    border: none;
    border-radius: 50%;
    transition: scale 0.3s ease-in-out, outline 0.01s ease-in-out;
  }

  .avatar:hover {
    outline: 2px solid var(--primary-orange-400);
    scale: 1.1;
  }

  .logo {
    margin-bottom: 3px;
  }

  .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid hsl(220, 14%, 90%);
  }

  .nav__left,
  .nav__right {
    display: flex;
    align-items: center;
  }

  .nav__links {
    position: static;
    display: flex;
    transform: translateX(0);
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 50px;
    background-color: transparent;
    z-index: 1;
  }

  .nav__links a {
    position: relative;
    text-decoration: none;
    font-weight: normal;
    color: var(--neutral-gray-400);
  }

  .nav__links a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    width: 0;
    height: 4px;
    background-color: var(--primary-orange-400);
    transition: all 0.2s ease-in-out;
  }

  .nav__links a:hover::after {
    width: 100%;
  }

  .nav__links a:hover {
    color: black;
  }

  .hamb {
    cursor: pointer;
    display: none;
    margin-right: 20px;
    z-index: 99999;
  }

  /* HERO */

  .hero {
    width: 100%;
  }

  .hero__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 100%, 1200px);
    gap: 20px;
    margin: 50px auto;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: clamp(200px, 100%, 450px);
    margin: 0 auto;
  }

  .title {
    font-size: 2rem;
    line-height: 1.2;
    margin: 15px 0;
    max-width: 20ch;
  }

  .description {
    color: var(--neutral-gray-400);
    margin-bottom: 30px;
    max-width: 50ch;
  }

  .hero__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 100%, 450px);
    margin: 0 auto;
  }

  .hero__gallery img {
    border: none;
    border-radius: 10px;
  }

  .hero__gallery .big-pic-product {
    cursor: pointer;
    max-width: 450px;
  }

  .gallery__thumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
  }

  .gallery__thumbs img {
    aspect-ratio: 1;
    width: 80px;
  }

  .gallery__thumbs img:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .gallery__thumbs img:active {
    outline: 1px solid var(--primary-orange-400);
    opacity: 0.7;
  }

  .hero__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
  }

  .amount-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 40%;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    background-color: var(--neutral-gray-100);
  }

  .add-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    padding: 2px;
    width: 60%;
    color: white;
    font-weight: bold;
    background-color: var(--primary-orange-400);
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  .price__new {
    margin-bottom: 10px;
  }

  /* Lightbox styles */

  /* DESKTOP */
  .lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .lightbox-content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.5s ease-in-out;
  }

  .lightbox-content img {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: auto;
  }

  .lightbox.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lightbox .close {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: -80px;
    right: 0px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.2s ease;
  }

  .lightbox .close:hover {
    color: var(--primary-orange-400);
  }

  .lightbox .prev,
  .lightbox .next {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    width: 60px;
    aspect-ratio: 1;
    padding: 0;
    margin-top: 0;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
    transition: 0.2s ease;
    border-radius: 50px;
    user-select: none;
  }

  .lightbox .prev {
    left: -30px;
  }

  .lightbox .next {
    right: -30px;
  }

  .lightbox .prev:hover,
  .lightbox .next:hover {
    color: var(--primary-orange-400);
  }

  .prev-mob,
  .next-mob {
    display: none;
  }
}
